<%= form_for @job do |f| %>
  <div class="field">
    <%= f.label :company_name %></br>
    <%= f.text_field :company_name %>
  </div>
  <div class="field">
    <%= f.label :job_title %></br>
    <%= f.text_field :job_title %>
  </div>
  <div class="field">
    <%= f.label :location %></br>
    <%= f.text_field :location %>
  </div>
  <div class="field">
    <%= f.label :salary_range %></br>
    <%= f.select :salary_range, salary_options %>
  </div>
  <div class="field">
    <%= f.label :description %></br>
    <%= f.text_area :description, size: "50x4" %>
  </div>
  <div class="field">
    <%= f.label :benefits %></br>
    <%= f.text_area :benefits, size: "50x4" %>
  </div>
  <div class="field">
    <%= f.label :requirements %></br>
    <%= f.text_area :requirements, size: "50x4" %>
  </div>
  <div class="field">
    <%= f.label :to_apply %></br>
    <%= f.text_area :to_apply, size: "50x4" %>
  </div>
  <div class="field">
    <%= f.submit %>
  </div>
<% end %>
